.emotion-dist {
  margin: 24px 0;

  &__head {
    margin: 0 0 8px 0;
    padding: 0 24px;
    line-height: 30px;
    font-size: 14px;

    @include breakpoint(840px) {
      line-height: 24px;
    }

    &--placeholder {
      width: 40px;
      min-height: 16px;
      margin-left: 24px;
      background-color: #f8f8f8;
    }

    &-votes {
      display: inline-block;
      margin: 0 8px 0 0;
      line-height: inherit;
      font-size: inherit;
    }

    &-info {
      display: inline-block;
      padding-left: 4px;
    }

    &-filters {
      display: inline-block;
      vertical-align: top;
      font-size: 0;

      & .mdl-chip {
        height: 26px;
        line-height: 26px;
        margin: 2px 8px 2px 0;
        padding-left: 10px;
        vertical-align: middle;

        @include breakpoint(840px) {
          height: 24px;
          line-height: 24px;
          margin: 0 8px 0 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      & .mdl-chip__action {
        height: 16px;
        width: 20px;

        & i {
          font-size: 18px;
        }
      }
    }
  }

  &__wrapper {
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
  }

  &__stats {
    &-item {
      display: table-cell;
      width: 1%;
      padding: 10px 5px;
      text-align: center;
      white-space: nowrap;

      &-color {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 4px;
        border-radius: 50%;

        &.-type-positive {
          background-color: #66BB6A;
        }
        &.-type-negative {
          background-color: #EF5350;
        }
        &.-type-neutral {
          background-color: #FFCA28;
        }
      }

      &-pct {
        display: inline-block;
        margin-right: 4px;
        line-height: 20px;
      }

      &-name {
        display: block;
        font-size: 12px;
        vertical-align: top;
        color: rgba(0,0,0,.54);

        @include breakpoint(480px) {
          display: inline-block;
        }
      }
    }
  }

  &__progress {
    width: 100%;
    display: table;
    overflow: hidden;
    white-space: nowrap;

    &-item {
      display: table-cell;
      height: 8px;
      -webkit-transition: width 0.5s linear;
      -moz-transition: width 0.5s linear;
      -o-transition: width 0.5s linear;
      transition: width 0.5s linear;

      &.-type-positive {
        background-color: #66BB6A;
      }
      &.-type-negative {
        background-color: #EF5350;
      }
      &.-type-neutral {
        background-color: #FFCA28;
      }
    }
  }
}
