.emotion-dist {
  margin: 16px 0;

  &__head {
    margin: 0 0 8px 0;
    padding: 0 16px;

    @include breakpoint(840px) {
      line-height: 24px;
    }

    &--placeholder {
      width: 60px;
      height: 36px;
      margin-left: 16px;
      border-radius: 20px;
      background-color: #f8f8f8;
    }

    & .mdl-chip {
      margin-right: 8px;
    }
  }

  &__data {}

  &__stats {
    &-item {
      display: table-cell;
      width: 1%;
      padding: 10px 5px;
      font-size: 16px;
      text-align: center;
      white-space: nowrap;

      &-color {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 4px;
        border-radius: 50%;

        &.-type-positive {
          background-color: #66BB6A;
        }
        &.-type-negative {
          background-color: #EF5350;
        }
        &.-type-neutral {
          background-color: #FFCA28;
        }
      }

      &-pct {
        display: inline-block;
        margin-right: 4px;
        line-height: 20px;
      }

      &-name {
        display: block;
        font-size: 12px;
        vertical-align: top;
        color: rgba(0,0,0,.54);

        @include breakpoint(480px) {
          display: inline-block;
        }
      }
    }
  }

  &__progress {
    width: 100%;
    display: table;
    overflow: hidden;
    border-radius: 10px;
    white-space: nowrap;

    &-item {
      display: table-cell;
      height: 10px;
      border: 1px solid #fff;
      border-width: 0 1px;
      transition: width 0.5s linear;

      &.-type-positive {
        border-left-width: 0;
        background-color: #66BB6A;
      }
      &.-type-neutral {
        background-color: #FFCA28;
      }
      &.-type-negative {
        border-right-width: 0;
        background-color: #EF5350;
      }
    }
  }
}
