
// HEADER

.mdl-layout__header {
  background-color: #fff;
  color: rgba(0,0,0,.87);

  & .mdl-navigation__link {
    opacity: 1;
    
    &.header-desktop {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.mdl-layout__header .mdl-layout__drawer-button,
.mdl-layout__header-row .mdl-navigation__link {
  color: inherit;
}


@media screen and (max-width: 839px) {
  .mdl-layout__header-row {
    & .mdl-navigation {
      margin-right: -14px;
    }

    & .mdl-navigation__link {
      padding: 0px 12px;
    }
  }
}

// Need this for handling onClick message on entry tab
.mdl-tabs__tab .click-block {
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
}

.mdl-mini-footer a,
.mdl-mega-footer a {
  font-weight: 400;
}

.mdl-snackbar {
  z-index: 1000;
}


// TOOLTIP
// .entry-profile-m__info-icon {
//   .mdl-tooltip {
//     max-width: 238px;
//     width: 238px;
//     background: rgb(33, 150, 243);
//   }
//   .mdl-tooltip--large {
//     line-height: 18px;
//   }
// }
